
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<h2>Reviews</h2>
<p><% @restaurant.reviews.each do|review| %> </p>
<div class='card'>
<p>Rating :<%= review.rating %></p>
<p><%= review.content %></p>
</div>
<p><% end%></p>
<p><%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"%></p>
<p><%= link_to 'back to restaurants', restaurants_path, class: "btn btn-danger" %></p>
